
@{
    ViewBag.Title = "血清学检查";
    Layout = "~/Areas/NasopharynxCancer/Views/Shared/MyLayout.cshtml";
}

@section head{

    <style>
        .my-style1 {
            background-color: #e2ebfb;
            padding: 3px;
            color: black;
            text-align: right;
            height: 25px;
            /*width:10%;*/
            border: 1px white solid;
        }

        .my-style2 {
            background-color: #f1f3f5;
            padding: 3px;
            color: black;
            text-align: right;
            height: 25px;
            /*width:10%;*/
            border: 1px white solid;
        }

        .my-style3 {
            background-color: #f1f3f5;
            padding: 3px;
            height: 25px;
            /*width:10%;*/
            text-align: left;
            border: 1px white solid;
        }
    </style>
}

<table border="1" style="border-collapse: collapse; width: 100%;background-color:#f1f3f5;text-align:center;" cellpadding="0" cellspacing="1">
    <tr>
        <td class="my-style1" style="width:40%;" rowspan="2">EB病毒衣壳抗原IgA(VCA-IgA)检查</td>
        <td class="my-style2" style="width:30%" rowspan="1">测试标本OD值</td> 
        <td class="my-style3" style="width:30%">
            <input type="text" id="vcaigaod" name="vcaigaod" style="width:100px;" /> 
        </td> 
    </tr>
    <tr> 
        <td class="my-style2" style="width:30%" rowspan="1">结果报告</td>
        <td class="my-style3" style="width:30%"> 
            <label style="padding-left:1em;"><input type="radio" value="1" name="vcaigajgbg" id="vcaigajgbgyi" />阴性</label>
             <label style="padding-left:1em;"><input type="radio" value="2" name="vcaigajgbg" id="vcaigajgbgya" />阳性</label>
        </td>
    </tr>
    <tr>
        <td class="my-style1" style="width:40%;" rowspan="2">EB病毒早期抗原IgA(EA-IgA)检查</td>
        <td class="my-style2" style="width:30%" rowspan="1">测试结果</td>
        <td class="my-style3" style="width:30%">
            <input type="text" id="eaigajg" name="eaigajg" style="width:100px;" /><span style="color:red;">(&lt;8U/ml为阴性,&ge;8U/ml为阳性)</span> 
        </td>
    </tr>
    <tr>
        <td class="my-style2" style="width:30%" rowspan="1">结果报告</td>
        <td class="my-style3" style="width:30%">
            <label style="padding-left:1em;"><input type="radio" value="1" name="eaigajgbg" id="eaigajgbgyi" />阴性</label>
            <label style="padding-left:1em;"><input type="radio" value="2" name="eaigajgbg" id="eaigajgbgya" />阳性</label>
        </td>
    </tr>

    <tr>  
        <td class="my-style3" colspan="2"> 
        </td> 
        <td class="my-style3">
            医师<input type="text" id="doctor" name="doctor" style="width:100px;" />检查日期<input type="text" id="checkdate" name="checkdate" style="width:100px;" onclick="WdatePicker({dataFmt:'yyyy-MM-dd', maxDate: '%y-%M-%d'})" />
        </td>
    </tr>
    <tr id="last">
        <td colspan="10" style="height: 25px; padding-top: 3px; border-left: 1px solid white; border-right: 1px solid white; border-bottom: 1px solid white">
            <div style="text-align: center; margin-top: 8px;">
                <input type="button" style="cursor: pointer; background-image: url(/images/image/1.jpg); border: none; height: 22px; width: 91px;" id="bt1" />
                <a style="padding-left: 2em"></a>
                <input type="button" id="cd" style="cursor: pointer; background-image: url(/images/image/2.jpg); border: none; height: 22px; width: 91px;" onclick="form1.reset()" />
            </div>
        </td>
    </tr>
    </table>

