
@{
    ViewBag.Title = "NoSql";
}

<h2>NoSql之MongoDB</h2>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<script>
    $(function () {
        $("#insert").click(function () {
            $.ajax({
                cache: false,
                async: false,
                url: "/Home/MongoDBInsert",
                type: "post",
                data: { id: "1" },
                dataType: "text",
                success: function (data) {
                    alert(data);
                }
            });
        })
         
        $("#delete").click(function () {
            $.ajax({
                cache: false,
                async: false,
                url: "/Home/MongoDBDelete",
                type: "post",
                data: { id: "12" },
                dataType: "text",
                success: function (data) {
                    alert(data);
                }
            });
        })

        $("#allupdate").click(function () {
            $.ajax({
                cache: false,
                async: false,
                url: "/Home/MongoDBAllUpdate",
                type: "post",
                data: { id: "11" },
                dataType: "text",
                success: function (data) {
                    alert(data);
                }
            });
        })


        $("#select").click(function () {
            $.ajax({
                cache: false,
                async: false,
                url: "/Home/MongoDBSelect",
                type: "post",
                data: { id: "11" },
                dataType: "text",
                success: function (data) {
                    alert(data);
                }
            });
        })
    })
</script>

<form id="form1">
    <div style="width:100%">
        <table border="1" style="width:100%;padding:5px;">
            <tr >
                <td><input type="button" id="insert" name="insert" value="新增" /></td>
                <td><input type="button" id="delete" name="delete" value="删除" /></td>
            </tr>
            <tr>
                <td><input type="button" id="allupdate" name="allupdate" value="整体更新" /></td>
                <td><input type="button" id="partialupdate" name="partialupdate" value="部分更新" /></td>
            </tr>
             <tr>
                 <td><input type="button" id="select" name="select" value="查询" /></td>
             </tr>
        </table>
    </div>
</form>
