@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>恶性肿瘤智能化健康管理系统</title> 
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script src="~/Scripts/MyJs/global.js"></script>
    <link href="~/Content/Home/Index.css" rel="stylesheet" />
    <script type="text/javascript">
        $(function () {
            $("#img").attr('src', '/Home/ShowValidateCode?i=' + Math.random());

            $("#img").click(function () {
                $("#img").attr('src', '/Home/ShowValidateCode?i=' + Math.random());
            });

            $("#Login").click(function () {
                //var form1 = $("#form1").serializeArray();
                var username=$("#txtUserName").val();
                var password=$("#txtPassword").val();
                var validatecode = $("#txtValidateCode").val();
                $.ajax({ 
                    type: "post",
                    url: "/Home/DengLu",
                    dataType: "text",
                    data: { txtUserName: username, txtPassword: password, txtValidateCode: validatecode },
                    success: function (data) {
                        if (data == "ok") { 
                            //location.href = "/Main/HuiIndex";
                            location.href = "/Frame/Index?type=BreastCancer";
                        } else {
                            alert(data);
                            $("#txtPassword").val("");
                            $("#txtValidateCode").val("");
                            $("#img").attr('src', '/Home/ShowValidateCode?i=' + Math.random());
                        }
                    }
                });
            });

        });
        $(document).keydown(function (event) {
            if (event.keyCode == 13) {
                $("#Login").trigger("click");
            }
        });
    </script>
</head>
<body>
    <form id="form1">
        <div class="border">
            <div class="top">
                @*<iframe frameborder="0" scrolling="no" src="/index/Top2.html" style="height:110px;width:1000px;"></iframe>*@
                <iframe frameborder="0" scrolling="no" src="http://www.chinancd.net/HomePage/Top.aspx" style="height:110px;width:1000px;"></iframe>
            </div>
            <div class="body">
                <div class="left">
                    @*<iframe frameborder="0" scrolling="no" src="/index/right.html" style="width: 152px;height:520px;"></iframe>*@
                    <iframe frameborder="0" scrolling="no" src="http://www.chinancd.net/HomePage/Left.aspx" style="width: 152px;height:520px;"></iframe>
                </div>
                <div class="center">
                    <div class="c_top">
                        <img src="/images/gif/exzl2.gif" />
                    </div>
                    <div class="c_left">
                        <ul>
                            <li>用户名：<input type="text" name="txtUserName" id="txtUserName" style="height:20px;" /></li>
                            <li>密<a style="padding-left:1em"></a>码：<input type="password" name="txtPassword" id="txtPassword" style="height:20px;" /></li>
                            <li>
                                验证码：<input type="password" name="txtValidateCode" id="txtValidateCode" style="height:20px;" />
                                <span><img id="img" src="/Home/ShowValidateCode" /></span>
                            </li>
                        </ul>
                    </div>
                    <div class="c_right">
                        <ul>
                            <li>
                                <img src="/index/images/ball05.gif" style="margin-bottom: -3px" />&nbsp<a href="http://222.192.61.8:8077" target="_blank" style="color: #000080">自我健康管理</a>
                            </li>
                            <li>
                                <img src="/index/images/ball04.gif" style="margin-bottom: -3px" />&nbsp<a href="http://222.192.61.8:8072" target="_blank" style="color: #000080">成人健康体检</a>
                            </li>
                            <li>
                                <img src="/index/images/ball06.gif" style="margin-bottom: -3px" />&nbsp<a href="http://chinaehr.ntu.edu.cn" target="_blank" style="color: #000080">居民健康档案</a>
                            </li>
                            <li>
                                <img src="/index/images/ball07.gif" style="margin-bottom: -3px" />&nbsp<a href="http://222.192.61.8:8090" target="_blank" style="color: #000080">卫生信息平台</a>
                            </li>
                            <li>
                                <img src="/index/images/ball08.gif" style="margin-bottom: -3px" />&nbsp<a href="http://222.192.61.8:8089" target="_blank" style="color: #000080">标准电子病历</a>
                            </li>
                            <li>
                                <img src="/index/images/ball09.gif" style="margin-bottom: -3px" />&nbsp<a href="http://222.192.61.8:8086" target="_blank" style="color: #000080">住院医师规培</a>
                            </li>
                        </ul>
                    </div>
                    <div class="c_footer">
                        <img id="Login" src="/images/gif-0784 拷贝.jpg" />
                        <img src="/images/gif-0895 拷贝.jpg" />
                        <img src="/images/gif-0784 拷贝4.gif" />
                        <img src="/images/ty.gif" />
                        <img src="/images/down3.gif" onclick="javascript: location.href = 'http://www.chinancd.net/index/download.html'" />
                    </div>
                    <div class="news_image">
                        <img src="/images/up-3ghf.gif" />
                    </div>
                    <div class="news">
                        <iframe frameborder="0" id="newsIframe" src="http://www.chinancd.net/index2/news.aspx" frameborder="0" style="width:685px"></iframe>
                    </div>
                    <div class="footer">
                        <hr />
                        <p>电话：0513-85051890<a style="padding-left:2em"></a><a href="mailto:chinancd@163.com" style="color: #000080">邮箱：chinancd@163.com </a></p>
                        <p>Copyright &copy; 2009-2016 <a style="padding-left:2em"></a>www.chinancd.net<a style="padding-left:2em"></a> <a href="http://www.miitbeian.gov.cn/" style="color: #000080" target="_blank">苏ICP备16042896号</a></p>
                    </div>
                </div>
                <div class="right">
                    @*<iframe frameborder="0" scrolling="no" src="/index/left2.html" style="width: 150px;height:520px;"></iframe>*@
                    <iframe frameborder="0" scrolling="no" src="http://www.chinancd.net/HomePage/Right.aspx" style="width: 152px;height:520px;"></iframe>
                </div>

            </div>
        </div>
    </form>
</body>
</html>
