
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>系统日志</title>
    <script src="~/Scripts/H-ui_v3.0/lib/jquery/1.9.1/jquery.min.js"></script>
    <script src="~/Scripts/H-ui_v3.0/static/h-ui/js/H-ui.min.js"></script>
    <link href="~/Scripts/H-ui_v3.0/static/h-ui/css/H-ui.min.css" rel="stylesheet" />
    <link href="~/Scripts/H-ui_v3.0/static/h-ui.admin/css/H-ui.admin.css" rel="stylesheet" />
    <link href="~/Scripts/H-ui_v3.0/static/h-ui.admin/css/style.css" rel="stylesheet" />
    <link href="~/Scripts/H-ui_v3.0/lib/Hui-iconfont/1.0.8/iconfont.css" rel="stylesheet" />
    <script src="~/Scripts/H-ui_v3.0/lib/My97DatePicker/4.8/WdatePicker.js"></script>
    <script src="~/Scripts/H-ui_v3.0/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/H-ui_v3.0/lib/laypage/1.2/laypage.js"></script>
</head>
<body>
    <nav class="breadcrumb">
        <i class="Hui-iconfont">&#xe67f;</i> 首页
        <span class="c-gray en">&gt;</span>
        系统日志
        <span class="c-gray en">&gt;</span>
        异常日志
        <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a>
    </nav>
    <div class="page-container">
        <div class="text-c">
            日期范围：
            <input type="text" onfocus="WdatePicker({ maxDate:'#F{$dp.$D(\'logmax\')||\'%y-%M-%d\'}' })" id="logmin" class="input-text Wdate" style="width:120px;">
            -
            <input type="text" onfocus="WdatePicker({ minDate:'#F{$dp.$D(\'logmin\')}',maxDate:'%y-%M-%d' })" id="logmax" class="input-text Wdate" style="width:120px;">
            @*<input type="text" name="" id="" placeholder="日志名称" style="width:250px" class="input-text">*@
            <button name="" id="" class="btn btn-success" type="submit"><i class="Hui-iconfont">&#xe665;</i> 查询</button>
        </div>
        <div class="cl pd-5 bg-1 bk-gray mt-20">
            <span class="l">
                <a href="javascript:;" onclick="datadel()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a>
            </span>
            <span class="r">共有数据：<strong>102</strong> 条</span>
        </div>
        <table class="table table-border table-bordered table-bg table-hover table-sort">
            <thead>
                <tr class="text-c">
                    <th width="25"><input type="checkbox" name="" value=""></th>
                    <th>编号</th>
                    <th>线程ID</th>
                    <th>异常级别</th>
                    <th>日志名称</th>
                    <th >时间</th>
                    <th>详细信息</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr class="text-c">
                    <td><input type="checkbox" value="" name=""></td>
                    <td>1</td>
                    <td>39</td>
                    <td>ERROR</td>
                    <td>GuiPei</td>
                    <td>2017-03-02 20:10:49</td>
                    <td>尝试访问Null对象成员</td>
                    <td>
                        <a title="详情" href="javascript:;" onclick="system_log_show(this,'10001')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe665;</i></a>
                        <a title="删除" href="javascript:;" onclick="system_log_del(this,'10001')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a>
                    </td>
                </tr>
                <tr class="text-c">
                    <td><input type="checkbox" value="" name=""></td>
                    <td>2</td>
                    <td>10</td>
                    <td>ERROR</td>
                    <td>GuiPei</td>
                    <td>2017-02-12 10:08:12</td>
                    <td>参数错误：方法的参数无效</td>
                    <td>
                        <a title="详情" href="javascript:;" onclick="system_log_show(this,'10001')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe665;</i></a>
                        <a title="删除" href="javascript:;" onclick="system_log_del(this,'10001')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a>
                    </td>
                </tr>
                <tr class="text-c">
                    <td><input type="checkbox" value="" name=""></td>
                    <td>3</td>
                    <td>25</td>
                    <td>ERROR</td>
                    <td>GuiPei</td>
                    <td>2017-02-01 09:23:19</td>
                    <td>强制转换失败</td>
                    <td>
                        <a title="详情" href="javascript:;" onclick="system_log_show(this,'10001')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe665;</i></a>
                        <a title="删除" href="javascript:;" onclick="system_log_del(this,'10001')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a>
                    </td>
                </tr>
                <tr class="text-c">
                    <td><input type="checkbox" value="" name=""></td>
                    <td>4</td>
                    <td>13</td>
                    <td>ERROR</td>
                    <td>GuiPei</td>
                    <td>2017-01-28 15:13:23</td>
                    <td>数字不合法</td>
                    <td>
                        <a title="详情" href="javascript:;" onclick="system_log_show(this,'10001')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe665;</i></a>
                        <a title="删除" href="javascript:;" onclick="system_log_del(this,'10001')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a>
                    </td>
                </tr>
                <tr class="text-c">
                    <td><input type="checkbox" value="" name=""></td>
                    <td>5</td>
                    <td>56</td>
                    <td>ERROR</td>
                    <td>GuiPei</td>
                    <td>2017-01-23 14:10:23</td>
                    <td>数组类型不匹配</td>
                    <td>
                        <a title="详情" href="javascript:;" onclick="system_log_show(this,'10001')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe665;</i></a>
                        <a title="删除" href="javascript:;" onclick="system_log_del(this,'10001')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a>
                    </td>
                </tr>
                <tr class="text-c">
                    <td><input type="checkbox" value="" name=""></td>
                    <td>6</td>
                    <td>5</td>
                    <td>WARN</td>
                    <td>GuiPei</td>
                    <td>2017-01-22 10:14:42</td>
                    <td>新增实体类型未校验</td>
                    <td>
                        <a title="详情" href="javascript:;" onclick="system_log_show(this,'10001')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe665;</i></a>
                        <a title="删除" href="javascript:;" onclick="system_log_del(this,'10001')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a>
                    </td>
                </tr>
                <tr class="text-c">
                    <td><input type="checkbox" value="" name=""></td>
                    <td>7</td>
                    <td>56</td>
                    <td>ERROR</td>
                    <td>GuiPei</td>
                    <td>2017-01-16 09:12:34</td>
                    <td>无法继承TrainingRepository类</td>
                    <td>
                        <a title="详情" href="javascript:;" onclick="system_log_show(this,'10001')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe665;</i></a>
                        <a title="删除" href="javascript:;" onclick="system_log_del(this,'10001')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a>
                    </td>
                </tr>
                <tr class="text-c">
                    <td><input type="checkbox" value="" name=""></td>
                    <td>8</td>
                    <td>21</td>
                    <td>WARN</td>
                    <td>GuiPei</td>
                    <td>2017-01-12 16:22:32</td>
                    <td>栈溢出</td>
                    <td>
                        <a title="详情" href="javascript:;" onclick="system_log_show(this,'10001')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe665;</i></a>
                        <a title="删除" href="javascript:;" onclick="system_log_del(this,'10001')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div id="pageNav" class="pageNav"></div>
    </div>
    <script type="text/javascript">
$('.table-sort').dataTable({
	"lengthMenu":false,//显示数量选择
	"bFilter": false,//过滤功能
	"bPaginate": false,//翻页信息
	"bInfo": false,//数量信息
	"aaSorting": [[ 1, "desc" ]],//默认第几个排序
	"bStateSave": true,//状态保存
	"aoColumnDefs": [
	  //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
	  {"orderable":false,"aTargets":[0,7]}// 制定列不参与排序
	]
});

/*查看日志*/
function system_log_show(){

}
/*日志-删除*/
function system_log_del(obj,id){
	layer.confirm('确认要删除吗？',function(index){
		$.ajax({
			type: 'POST',
			url: '',
			dataType: 'json',
			success: function(data){
				$(obj).parents("tr").remove();
				layer.msg('已删除!',{icon:1,time:1000});
			},
			error:function(data) {
				console.log(data.msg);
			},
		});
	});
}
    </script>
</body>
</html>
