
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <title>术后护理</title>
    <script src="~/Scripts/MyJs/H-ui_v3.0/lib/jquery/1.9.1/jquery.min.js"></script>
    <script src="~/Scripts/MyJs/H-ui_v3.0/static/h-ui/js/H-ui.min.js"></script>
    <!--[if lt IE 9]>
    <link href="~/Scripts/MyJs/H-ui_v3.0/static/h-ui/css/H-ui.ie.css" rel="stylesheet" />
    <![endif]-->
    <link href="~/Scripts/MyJs/H-ui_v3.0/static/h-ui/css/H-ui.min.css" rel="stylesheet" />
</head>
<body>
    <div style="width:70%;margin-left:15%;margin-bottom:50px;">
        <h3 class="c-green">饮食篇</h3>
        <p class="f-18 lh-30" style="text-indent:2em;">
            乳腺癌病人除了在治疗期间服用药物或因病情变化需要注意按医嘱忌食外，一般在饮食上和正常人并无特殊之处。下面这些饮食建议可供病人和家属参考。
        </p>
        <p class="f-18 lh-30" style="text-indent:2em;">
            ①饮食要配合治疗：乳腺癌病人在手术前后应当努力进餐，补充营养，丰富的营养可促进机体顺利地经历手术关，促进切口愈合，早日恢复健康。在放疗、化疗期间，由于治疗带来的不良影响，病人的味觉和食欲有所下降，可产生恶心、呕吐等胃肠道反应。这时，病人应认识到，这只是暂时给自己带来的一定程度的痛苦，而自觉地以乐观主义的精神和顽强的意志去克服这些副作用，坚持适量进食一些易消化、高营养的食物，以保证身体能按时接受和完成各种治疗计划。
        </p>
        <p class="f-18 lh-30" style="text-indent:2em;">
            ②饮食要有节制，不过量：过度营养以及肥胖对乳腺癌的发生、发展都有不利影响。因此，在乳腺癌病人治疗后的长期生活过程中，应在保证营养需要的前提下，恪守饮食有节制不过量的原则。
        </p>
        <p class="f-18 lh-30" style="text-indent:2em;">
            ③合理选择食物：适当选食对防治乳腺癌有益的食物是有好处的。这些食物包括海带、海参等海产品，因为从海产品中可提取多种抗肿瘤活性物质；以如豆类食物和蔬菜、水果等，可补充必要的维生素、电解质。当然，这些食物可因人、因时、因地采用，不必强求一致。
        </p>
        <h3 class="c-green">康复锻炼篇</h3>
        <p class="f-18 lh-30" style="text-indent:2em;">
            乳腺癌病人手术后，家属应尽早进行术后的康复功能锻炼，帮助和督促病人对水肿肢体皮肤的保护，不要搔破，避免水肿肢体操持重物。
        </p>
        <p class="f-18 lh-30" style="text-indent:2em;">
            一般在术后第一、二天即可开始做前臂、肘关节屈伸运动及掌握的动作，每次10遍，每天约5—6次。术后第三天可试用健康的一侧上肢帮助手术的一侧上肢做前面上举动作，使患侧肢体举高到与头部相平，每次3—4遍，每天约3—5次。术后第四天，可用健康侧手握住患肢的大拇指，帮助患肢向上抬举，直到超过头部，每天3—4次。术后第五天，可用健侧手托起患侧肘部慢慢向前上方抬举，使之超过头部，尽可能伸直，每次2—3遍，每天2—4次。术后第六天可用患肢的手指顺着墙渐渐向上滑行，逐渐提高，每次2—3遍，每天3—4次。术后第七天和第八天使患侧手掌越过头顶，触摸对侧耳朵，每次2—3遍，每天3—4次。术后第九天起可以肩关节为轴心用患肢做旋转活动。每次2—3遍，每天3—4次。术后第十天可试用患肢举起物体超过头顶，每次2—3遍，每天2—3次。手术第十天以后可根据体力、伤口愈合情况经常逐渐做上肢抬举、旋转、外展等各种运动。当然，乳腺癌患者在术后锻炼时，要根据自己的实际情况，如病情、年龄、体力、切口愈合等，进行循序渐进的锻炼，不可操之过急，亦戒术后不进行锻炼。
        </p>
        <h3 class="c-green">日常起居篇</h3>
        <p class="f-18 lh-30" style="text-indent:2em;">
            乳腺癌患者在手术后、化疗放疗期间身体会比较虚弱，需要家属在日常起居多加注意。在白细胞减少期间，为防止各种感染的发生，家属应力劝患者避免接触过多的人，少去公共场所。
        </p>
        <h3 class="c-green">心理篇</h3>
        <p class="f-18 lh-30" style="text-indent:2em;">
            乳腺癌患者思想上有什么痛苦、疑虑、畏惧、担忧和想法，首先告诉的是患者最亲近的家属。因此，患者家属除了在生活上对病人做到周到的照顾外，还要配合医生进行一部分心理治疗，说服患者坚持完成各种治疗，对任何治疗可能带来的并发症、后遗症都能理解和接受，使患者不致对治疗产生抵触情绪。在患者心情抑郁、痛苦、态度粗暴、烦躁不安时，家属应设法减轻患者的痛苦，在精神上、思想上积极地给予安慰和鼓励。就某种意义来说，减轻患者的一份痛苦，就等于增加机体的一份抗癌力量。
        </p>
        <h3 class="c-green">随访篇</h3>
        <p class="f-18 lh-30" style="text-indent:2em;">
            此外，乳腺癌患者需要终生随访，家属应协助进行。因此无论是医院随访或是答复的随访信，家属都应尽力协助配合完成。这除了对患者的治疗有好处外，还可以为乳腺癌的研究提供大量的资料和数据，有利于乳腺癌防治工作的开展。
        </p>
        <p class="f-18 lh-30" style="text-indent:2em;">
            乳腺癌术后护理并不是一件轻松的事情，但是，做好护理可以对患者的身心健康起到至关重要的作用。为了让我们的亲人早日恢复健康，与病魔斗争，每一位乳腺癌患者的家属都应尽自己最大的努力，做好乳腺癌术后护理。
        </p>
    </div>
</body>
</html>
