@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>诊断信息</title>
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <style type="text/css">
        .auto-style1 {
            width: 120px;
            background-color: #f1f3f5;
        }

        .auto-style2 {
            width: 60px;
            background-color: #f1f3f5;
        }

        .auto-style3 {
            width: 130px;
            background-color: #f1f3f5;
        }

        .auto-style4 {
            width: 110px;
            background-color: #f1f3f5;
        }

        .auto-style5 {
            background-color: #e2ebfb;
            width: 80px;
        }

        .auto-style6 {
            background-color: #e2ebfb;
            width: 80px;
        }

        .auto-style7 {
            background-color: #e2ebfb;
            width: 101px;
        }

        .auto-style8 {
            background-color: #e2ebfb;
            width: 80px;
        }

        .auto-style9 {
            background-color: #f1f3f5;
            width: 300px;
        }

        .head {
            background-image: url(/images/admin_bg_1.jpg);
            color: White;
            font-size: 14px;
            font-weight: bold;
            text-align: center;
            height: 24px;
        }

        #body {
            font-size: 12px;
        }
    </style>

    <script type="text/javascript">
        var id = "@ViewBag.id";
        $(function () {
            $.post("/MedicalHistory_DiagnosticInformation/Handler3?id=" +id,
            function (data) {
                dts = eval(data);
                if (dts != "") {
                    $("#name").html(dts[0].names);
                    if (dts[0].sex == "01") {
                        $("#sex").html("男");
                    }
                    else if (dts[0].sex == "02") {
                        $("#sex").html("女");
                    }

                    if (dts[0].birth_date != "" && dts[0].birth_date != null) {
                        var date = new Date(parseInt(dts[0].birth_date.replace("/Date(", "").replace(")/", ""), 10));
                        var a1 = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
                        var a2 = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();

                        //var a = dts[0].birth_date.split('/');
                        //if (a[1].length < 2) {
                        //    var a1 = "0" + a[1];
                        //} else {
                        //    var a1 = a[1];
                        //}
                        //if (a[2].split(' ')[0].length < 2) {
                        //    var a2 = "0" + a[2].split(' ')[0];
                        //} else {
                        //    var a2 = a[2].split(' ')[0];
                        //}
                        var dates = new Date();
                        var year = dates.getFullYear() - date.getFullYear();
                        if (year > 0) {
                            $("#age").html(year + "岁");
                        } else if (year == 0) {
                            var month = dates.getMonth() - a1;
                            if (month > 0) {
                                $("#age").html(month + "月");
                            } else if (month == 0) {
                                var day = dates.getDay() - a2;
                                if (day > 0) {
                                    $("#age").html(day + "天");
                                }
                            }
                        }
                    }

                    $("#id_card_number").html(dts[0].id_card_number);

                    $.post("/Data/ProvinceName?code=" + dts[0].community_code.substring(0, 2),
                 function (data1) {
                     $.post("/Data/CityName?code=" + dts[0].community_code.substring(0, 4),
                 function (data2) {
                     $.post("/Data/CountyName?code=" + dts[0].community_code.substring(0, 6),
                 function (data3) {
                     $.post("/Data/StreetName?code=" + dts[0].community_code.substring(0, 9),
                function (data4) {
                    $.post("/Data/CommunityName?code=" + dts[0].community_code.substring(0, 12),
                function (data5) {
                    $("#address").html(data1 + data2 + data3 + data4 + data5 + dts[0].address);
                })
                })
                 })
                 })
                 })

                    $("#phone").html(dts[0].phone);

                    if (dts[0].name1 != "" && dts[0].name1 != null) {
                        $("#td1").html("1");

                        if (dts[0].data1 != "" && dts[0].data1 != null) {
                            var date = new Date(parseInt(dts[0].data1.replace("/Date(", "").replace(")/", ""), 10));
                            var a1 = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
                            var a2 = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();

                            //var a = dts[0].data1.split('/');
                            //if (a[1].length < 2) {
                            //    var a1 = "0" + a[1];
                            //} else {
                            //    var a1 = a[1];
                            //}
                            //if (a[2].split(' ')[0].length < 2) {
                            //    var a2 = "0" + a[2].split(' ')[0];
                            //} else {
                            //    var a2 = a[2].split(' ')[0];
                            //}
                            $("#td2").html(date.getFullYear() + '-' + a1 + '-' + a2);
                        }
                        $("#td3").html(dts[0].name1);
                        $("#td4").html(dts[0].numb1);
                        $("#td5").html(dts[0].hospital1);
                        $("#td6").html(dts[0].doctor1);
                    } else {
                        document.getElementById("t1").style.display = "none";
                    }

                    if (dts[0].name2 != "" && dts[0].name2 != null) {
                        $("#td7").html("2");
                        if (dts[0].data2 != "" && dts[0].data2 != null) {
                            var date = new Date(parseInt(dts[0].data2.replace("/Date(", "").replace(")/", ""), 10));
                        var a1 = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
                        var a2 = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
                        
                        //    var a = dts[0].data2.split('/');
                        //    if (a[1].length < 2) {
                        //        var a1 = "0" + a[1];
                        //    } else {
                        //        var a1 = a[1];
                        //    }
                        //    if (a[2].split(' ')[0].length < 2) {
                        //        var a2 = "0" + a[2].split(' ')[0];
                        //    } else {
                        //        var a2 = a[2].split(' ')[0];
                        //    }
                            $("#td8").html(date.getFullYear() + '-' + a1 + '-' + a2);
                        }
                        $("#td9").html(dts[0].name2);
                        $("#td10").html(dts[0].numb2);
                        $("#td11").html(dts[0].hospital2);
                        $("#td12").html(dts[0].doctor2);

                    } else {
                        document.getElementById("t2").style.display = "none";
                    }

                if (dts[0].name3 != ""&&dts[0].name3 != null) {
                        $("#td13").html("3");

                        if (dts[0].data3 != "" && dts[0].data3 != null) {
                            var date = new Date(parseInt(dts[0].data3.replace("/Date(", "").replace(")/", ""), 10));
                            var a1 = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
                            var a2 = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();

                            //var a = dts[0].data3.split('/');
                            //if (a[1].length < 2) {
                            //    var a1 = "0" + a[1];
                            //} else {
                            //    var a1 = a[1];
                            //}
                            //if (a[2].split(' ')[0].length < 2) {
                            //    var a2 = "0" + a[2].split(' ')[0];
                            //} else {
                            //    var a2 = a[2].split(' ')[0];
                            //}
                            $("#td14").html(date.getFullYear() + '-' + a1 + '-' + a2);
                        }
                        $("#td15").html(dts[0].name3);
                        $("#td16").html(dts[0].numb3);
                        $("#td17").html(dts[0].hospital3);
                        $("#td28").html(dts[0].doctor3);
                    } else {
                        document.getElementById("t3").style.display = "none";
                    }

                if (dts[0].name4 != "" && dts[0].name4 != null) {
                        $("#td19").html("4");
                        if (dts[0].data4 != "" && dts[0].data4 != null) {
                            var date = new Date(parseInt(dts[0].data4.replace("/Date(", "").replace(")/", ""), 10));
                            var a1 = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
                            var a2 = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();

                            //var a = dts[0].data4.split('/');
                            //if (a[1].length < 2) {
                            //    var a1 = "0" + a[1];
                            //} else {
                            //    var a1 = a[1];
                            //}
                            //if (a[2].split(' ')[0].length < 2) {
                            //    var a2 = "0" + a[2].split(' ')[0];
                            //} else {
                            //    var a2 = a[2].split(' ')[0];
                            //}
                            $("#td20").html(date.getFullYear() + '-' + a1 + '-' + a2);
                        }
                        $("#td21").html(dts[0].name4);
                        $("#td22").html(dts[0].numb4);
                        $("#td23").html(dts[0].hospital4);
                        $("#td24").html(dts[0].doctor4);
                    } else {
                        document.getElementById("t4").style.display = "none";
                    }

                if (dts[0].name5 != "" && dts[0].name5 != null) {
                        $("#td25").html("5");
                        if (dts[0].data5 != "" && dts[0].data5 != null) {
                            var date = new Date(parseInt(dts[0].data5.replace("/Date(", "").replace(")/", ""), 10));
                            var a1 = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
                            var a2 = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();

                            //var a = dts[0].data5.split('/');
                            //if (a[1].length < 2) {
                            //    var a1 = "0" + a[1];
                            //} else {
                            //    var a1 = a[1];
                            //}
                            //if (a[2].split(' ')[0].length < 2) {
                            //    var a2 = "0" + a[2].split(' ')[0];
                            //} else {
                            //    var a2 = a[2].split(' ')[0];
                            //}
                            $("#td26").html(date.getFullYear() + '-' + a1 + '-' + a2);
                        }

                        $("#td27").html(dts[0].name5);
                        $("#td28").html(dts[0].numb5);
                        $("#td29").html(dts[0].hospital5);
                        $("#td30").html(dts[0].doctor5);
                    } else {
                        document.getElementById("t5").style.display = "none";
                    }


                    $.post("/MedicalHistory_DiagnosticInformation/Handler4?id=" +id,
                        function (datas) {
                            dats = eval(datas);
                            if (dats != "") {
                                for (i = 1; i <= dats.length; i++) {
                                    $("#tb1").append('<tr style="height: 25px" id="t_' + i + '">' +
                '<td id="td1_' + i + '"></td>' +
                '<td id="td2_' + i + '"></td>' +
                 '<td id="td3_' + i + '"></td>' +
                  '<td id="td4_' + i + '"></td>' +
                   '<td id="td5_' + i + '"></td>' +
                    '<td id="td6_' + i + '"></td>' +
            '</tr>');


                                    $('#td1_' + i + '').html(5 + i);

                                    if (dats[i - 1].data != "" && dats[i - 1].data != null) {
                                        var date = new Date(parseInt(dats[i - 1].data.replace("/Date(", "").replace(")/", ""), 10));
                                        var a1 = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
                                        var a2 = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();

                                        //var a = dats[i - 1].data.split('/');
                                        //if (a[1].length < 2) {
                                        //    var a1 = "0" + a[1];
                                        //} else {
                                        //    var a1 = a[1];
                                        //}
                                        //if (a[2].split(' ')[0].length < 2) {
                                        //    var a2 = "0" + a[2].split(' ')[0];
                                        //} else {
                                        //    var a2 = a[2].split(' ')[0];
                                        //}
                                        $('#td2_' + i + '').html(date.getFullYear() + '-' + a1 + '-' + a2);
                                    }

                                    $('#td3_' + i + '').html(dats[i - 1].name);
                                    $('#td4_' + i + '').html(dats[i - 1].numb);
                                    $('#td5_' + i + '').html(dats[i - 1].hospital);
                                    $('#td6_' + i + '').html(dats[i - 1].doctor);
                                }
                            }
                        })

                }
            })
        })

    </script>

</head>
<body id="body">
    <form id="form1">
        <div style="width:100%">
            <table style="width: 100%; border-top: 1px solid black; border-left: 1px solid black; border-right: 1px solid black;">
                <tr>
                    <td align="center" colspan="8" class="head"><a id="titles" style="font-size: 14px;">诊断信息</a></td>
                </tr>
                <tr style="height: 30px;">
                    <td style="text-align: right" class="auto-style5">姓名</td>
                    <td class="auto-style1" id="name"></td>

                    <td style="text-align: right" class="auto-style6">性别</td>
                    <td class="auto-style2" id="sex"></td>
                    <td style="text-align: right" class="auto-style7">身份证号码</td>
                    <td class="auto-style3" id="id_card_number"></td>
                    <td style="text-align: right" class="auto-style8">年龄</td>
                    <td class="auto-style4" id="age"></td>
                </tr>

                <tr style="height: 30px;">
                    <td style="text-align: right" class="auto-style5">家庭常住地址</td>
                    <td colspan="3" class="auto-style9" id="address"></td>
                    <td class="auto-style7"></td>
                    <td class="auto-style3" id="Text38"></td>
                    <td style="text-align: right" class="auto-style8">手机号码</td>
                    <td class="auto-style4" id="phone"></td>
                </tr>
            </table>



            <table style="text-align: center; border: 1px solid black;width:100%" id="tb1">
                <tr style="height: 30px;">
                    <td style="text-align: center; width: 5%">№</td>
                    <td style="text-align: center; width: 10%">诊断日期</td>
                    <td style="text-align: center; width: 30%">诊断疾病名称</td>
                    <td style="text-align: center; width: 10%">ICD-10编码</td>
                    <td style="text-align: center; width: 30%">诊断医院</td>
                    <td style="text-align: center; width: 15%">诊断医生</td>
                </tr>
                <tr>
                    <td colspan="7" style="text-align: center">
                        <hr />
                    </td>
                </tr>

                <tr style="text-align: center; height: 25px" id="t1">
                    <td id="td1"></td>
                    <td id="td2"></td>
                    <td id="td3"></td>
                    <td id="td4"></td>
                    <td id="td5"></td>
                    <td id="td6"></td>
                </tr>
                <tr style="height: 25px" id="t2">
                    <td id="td7"></td>
                    <td id="td8"></td>
                    <td id="td9"></td>
                    <td id="td10"></td>
                    <td id="td11"></td>
                    <td id="td12"></td>
                </tr>
                <tr style="height: 25px" id="t3">
                    <td id="td13"></td>
                    <td id="td14"></td>
                    <td id="td15"></td>
                    <td id="td16"></td>
                    <td id="td17"></td>
                    <td id="td18"></td>
                </tr>
                <tr style="height: 25px" id="t4">
                    <td id="td19"></td>
                    <td id="td20"></td>
                    <td id="td21"></td>
                    <td id="td22"></td>
                    <td id="td23"></td>
                    <td id="td24"></td>
                </tr>
                <tr style="height: 25px" id="t5">
                    <td id="td25"></td>
                    <td id="td26"></td>
                    <td id="td27"></td>
                    <td id="td28"></td>
                    <td id="td29"></td>
                    <td id="td30"></td>
                </tr>
            </table>
        </div>
    </form>
</body>
</html>
