
@{
    ViewBag.Title = "CT检查";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}

@section head{
    <style>
        .my-style1 {
            background-color: #e2ebfb;
            padding: 3px;
            color: black;
            text-align: right;
            height: 25px;
            /*width:10%;*/
            border: 1px white solid;
        }

        .my-style2 {
            background-color: #f1f3f5;
            padding: 3px;
            color: black;
            text-align: right;
            height: 25px;
            /*width:10%;*/
            border: 1px white solid;
        }

        .my-style3 {
            background-color: #f1f3f5;
            padding: 3px;
            height: 25px;
            /*width:10%;*/
            text-align: left;
            border: 1px white solid;
        }
    </style>
}

<table border="1" style="border-collapse: collapse; width: 100%;background-color:#f1f3f5;text-align:center;" cellpadding="0" cellspacing="1"></table>

