
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>欢迎</title>
    <!--[if lt IE 9]>
    <script type="text/javascript" src="~/Scripts/H-ui_v3.0/lib/html5shiv.js"></script>
    <script type="text/javascript" src="~/Scripts/H-ui_v3.0/lib/respond.min.js"></script>
    <![endif]--> 
    <script src="~/Scripts/H-ui_v3.0/lib/jquery/1.9.1/jquery.min.js"></script>
    <script src="~/Scripts/H-ui_v3.0/static/h-ui/js/H-ui.min.js"></script>
    <link href="~/Scripts/H-ui_v3.0/static/h-ui/css/H-ui.min.css" rel="stylesheet" />
    <script src="~/Scripts/MyJs/pccsc.js"></script>
    <script src="~/Scripts/MyJs/Home/WelCome/Operate.js"></script>
    <script src="~/Scripts/H-ui_v3.0/lib/hcharts/Highcharts/5.0.6/js/highcharts.js"></script>
    <script src="~/Scripts/H-ui_v3.0/lib/hcharts/Highcharts/5.0.6/js/modules/exporting.js"></script>
    <script src="~/Scripts/H-ui_v3.0/lib/hcharts/Highcharts/5.0.6/js/highcharts-zh_CN.js"></script>
    <!--[if lt IE 9]>
    <link href="~/Scripts/H-ui_v3.0/static/h-ui/css/H-ui.ie.css" rel="stylesheet" />
    <![endif]-->
    <script>

        var code = "@ViewBag.code";
    </script>
</head>
<body style="text-align:center">
    <div style="margin:0 auto;width:90%;height:50px;margin-top:20px;">
        <select style="width: 80px" id="ddlProvince" name="ddlProvince" class="select" size="1">
            <option value="">请选择</option>
        </select>
        <select style="width: 80px" id="ddlCity" name="ddlCity" class="select" size="1">
            <option value="">请选择</option>
        </select>
        <select style="width: 80px" id="ddlCounty" name="ddlCounty" class="select" size="1">
            <option value="">请选择</option>
        </select>
        <select style="width: 85px" id="ddlStreet" name="ddlStreet" class="select" size="1">
            <option value="">请选择</option>
        </select>
        <select style="width: 105px" id="ddlCommunity" name="ddlCommunity" class="select" size="1">
            <option value="">请选择</option>
        </select>
        <input class="btn btn-primary radius" id="caculate" name="caculate" type="button" style="height:30px;font-size:10pt;" value="统计">

    </div>
    <div style="margin:0 auto;width:80%;">
        <table class="table table-border table-bordered table-hover">
            <thead class="text-c">
                <tr><th colspan="5"><label id="title" style="font-size:10pt;"></label> 基本情况统计</th></tr>
                <tr>
                    <th>名称</th>
                    <th>数值</th>
                    <th></th>
                    <th>名称</th>
                    <th>数值</th>
                </tr>
            </thead>
            <tbody>
                <tr class="text-c">
                    <td colspan="2">已建健康档案人数</td>
                    <td></td>
                    <td colspan="2"><label id="lbJKDA" style="color:red"></label>人</td>
                </tr>
                <tr class="text-c">
                    <td>0-6岁</td>
                    <td><label id="lb0_6"></label>人</td>
                    <td></td>
                    <td>高血压人数</td>
                    <td><label id="lbGXY"></label>人</td>
                </tr>
                <tr class="text-c">
                    <td>7-17岁</td>
                    <td><label id="lb7_17"></label>人</td>
                    <td></td>
                    <td>糖尿病人数</td>
                    <td><label id="lbTNB"></label>人</td>
                </tr>
                <tr class="text-c">
                    <td>18_44岁</td>
                    <td><label id="lb18_44"></label>人</td>
                    <td></td>
                    <td>冠心病人数</td>
                    <td><label id="lbGXB"></label>人</td>
                </tr>
                <tr class="text-c">
                    <td>45_59岁</td>
                    <td><label id="lb45_59"></label>人</td>
                    <td></td>
                    <td>重症精神疾病人数</td>
                    <td><label id="lbJSB"></label>人</td>
                </tr>
                <tr class="text-c">
                    <td>60_74岁</td>
                    <td><label id="lb60_74"></label>人</td>
                    <td></td>
                    <td>肿瘤病人数</td>
                    <td><label id="lbZL"></label>人</td>
                </tr>
                <tr class="text-c">
                    <td>75_89岁</td>
                    <td><label id="lb75_89"></label>人</td>
                    <td></td>
                    <td>65岁以上男性</td>
                    <td><label id="lb65M"></label>人</td>
                </tr>
                <tr class="text-c">
                    <td>90及以上人数</td>
                    <td><label id="lb90"></label>人</td>
                    <td></td>
                    <td>65岁以上女性</td>
                    <td><label id="lb65F"></label>人</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="container" style="width: 80%; height: 500px; margin: 0 auto;margin-bottom:50px"></div>
</body>
</html>
