
@{
    ViewBag.Title = "手术治疗";
    Layout = "~/Areas/NasopharynxCancer/Views/Shared/MyLayout.cshtml";
}

@section head{

    <style>
        .my-style1 {
            background-color: #e2ebfb;
            padding: 3px;
            color: black;
            text-align: right;
            height: 25px;
            /*width:10%;*/
            border: 1px white solid;
        }

        .my-style2 {
            background-color: #f1f3f5;
            padding: 3px;
            color: black;
            text-align: right;
            height: 25px;
            /*width:10%;*/
            border: 1px white solid;
        }

        .my-style3 {
            background-color: #f1f3f5;
            padding: 3px;
            height: 25px;
            /*width:10%;*/
            text-align: left;
            border: 1px white solid;
        }
    </style>
}

<table border="1" style="border-collapse: collapse; width: 100%;background-color:#f1f3f5;text-align:center;" cellpadding="0" cellspacing="1">
    <tr> 
        <td class="my-style2" style="width:10%" rowspan="1">手术前诊断</td>
        <td class="my-style3" style="width:20%">
            <input type="text" id="ssqzd" name="ssqzd" style="width:100px;" />
        </td>
        <td class="my-style2" style="width:10%" rowspan="1">手术名称</td>
        <td class="my-style3" style="width:20%">
            <input type="text" id="ssmc" name="ssmc" style="width:100px;" />
        </td>
        <td class="my-style2" style="width:10%" rowspan="1">主刀医师</td>
        <td class="my-style3" style="width:20%">
            <input type="text" id="zdys" name="zdys" style="width:100px;" />
        </td>
    </tr>
    <tr>
        <td class="my-style2" style="width:10%" rowspan="1">助手1</td>
        <td class="my-style3" style="width:20%">
            <input type="text" id="zs1" name="zs1" style="width:100px;" />
        </td>
        <td class="my-style2" style="width:10%" rowspan="1">助手2</td>
        <td class="my-style3" style="width:20%">
            <input type="text" id="zs2" name="zs2" style="width:100px;" />
        </td>
        <td class="my-style2" style="width:10%" rowspan="1">助手3</td>
        <td class="my-style3" style="width:20%">
            <input type="text" id="zs3" name="zs3" style="width:100px;" />
        </td>
        </tr>
    <tr>
        <td class="my-style2" style="width:10%" rowspan="1">麻醉医师</td>
        <td class="my-style3" style="width:20%">
            <input type="text" id="mzys" name="mzys" style="width:100px;" />
        </td>
        <td class="my-style2" style="width:10%" rowspan="1">麻醉方法</td>
        <td class="my-style3" style="width:20%">
            <input type="text" id="mzff" name="mzff" style="width:100px;" />
        </td>
        <td class="my-style2" style="width:10%" rowspan="1">器械护士</td>
        <td class="my-style3" style="width:20%">
            <input type="text" id="qxhs" name="qxhs" style="width:100px;" />
        </td>
    </tr>
    <tr>
        <td class="my-style2" style="width:10%" rowspan="1">手术经过</td>
        <td class="my-style3" colspan="5">
            <textarea style="width:90%;" rows="4" id="ssjg" name="ssjg"></textarea>
        </td>
        </tr>
    <tr>
        <td class="my-style3" colspan="4"></td>
        <td class="my-style3" colspan="2">
            医师<input type="text" id="doctor" name="doctor" style="width:100px;" />手术日期<input type="text" id="checkdate" name="checkdate" style="width:100px;" onclick="WdatePicker({dataFmt:'yyyy-MM-dd', maxDate: '%y-%M-%d'})" value="@DateTime.Now.ToString("yyyy-MM-dd")"/>
        </td>
    </tr>
    <tr id="last">
        <td colspan="10" style="height: 25px; padding-top: 3px; border-left: 1px solid white; border-right: 1px solid white; border-bottom: 1px solid white">
            <div style="text-align: center; margin-top: 8px;">
                <input type="button" style="cursor: pointer; background-image: url(/images/image/1.jpg); border: none; height: 22px; width: 91px;" id="bt1" />
                <a style="padding-left: 2em"></a>
                <input type="button" id="cd" style="cursor: pointer; background-image: url(/images/image/2.jpg); border: none; height: 22px; width: 91px;" onclick="form1.reset()" />
            </div>
        </td>
    </tr>
</table>

