@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>功能列表</title>
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script src="~/Scripts/MyJs/global.js"></script>
    <link href="~/Content/MyCss/global.css" rel="stylesheet" />
    <style type="text/css">
        body {
            margin: 0px;
            font: 12px 宋体;
            background-color: #ECF0FB;
        }

        a:visited, a:link, a:hover {
            text-decoration: none;
            color: #000080;
        }

        .sec_menu {
            border-left: 2px solid #84bf92;
            border-right: 2px solid #84bf92;
        }

        .sec_menu1 {
            border-left: 2px solid #84bf92;
            border-right: 2px solid #84bf92;
            border-bottom: 2px solid #84bf92;
        }

        .sec_menu td {
            padding-left: 2px;
        }

        .menu_hide {
            background: url(/images/main/hide.gif) right no-repeat;
            background-color: #0066cc;
            color: white;
            font-size: 14px;
            height: 26px;
            border: 2px solid #84bf92;
            padding-left: 13px;
            cursor: pointer;
        }

        .menu_show {
            background: url(/images/main/show.gif) right no-repeat;
            background-color: #0066cc;
            color: white;
            font-size: 14px;
            height: 26px;
            border: 2px solid #84bf92;
            border-bottom: 2px;
            padding-left: 13px;
            cursor: pointer;
        }

        .menu_title SPAN {
            font-weight: bold;
            left: 8px;
            color: #215dc6;
            position: relative;
            top: 2px;
        }

        .auto-style1 {
            border-left: 2px solid #84bf92;
            border-right: 2px solid #84bf92;
            border-top: 2px solid #84bf92;
            border-bottom: 2px solid #84bf92;
            background: #0066cc url('/images/main/show.gif') no-repeat right 50%;
            color: white;
            font-size: 14px;
            height: 26px;
            padding-left: 13px;
            cursor: pointer;
            width: 142px;
            border-bottom-style: none;
            border-bottom-color: inherit;
            border-bottom-width: medium;
        }

        .auto-style2 {
            width: 142px;
        }

        .menu_hide1 {
            width: 100px;
            background: url(/images/title_bg_hide.gif) right no-repeat;
        }

        .menu_show1 {
            width: 120PX;
            background: url(/images/title_bg_show.gif) right no-repeat;
        }
    </style>
    <script type="text/javascript">
        function showsubmenu(sid, f_id) {
            whichEl = eval("submenu" + sid);
            if (whichEl.style.display == "none") {
                eval("submenu" + sid + ".style.display=\"\";");
                eval("this.menuTitle" + sid + ".className=\"menu_show\";");
            }
            else {
                eval("submenu" + sid + ".style.display=\"none\";");
                eval("this.menuTitle" + sid + ".className=\"menu_hide\";");
            }

        }

        function showsubmenu1(sid, f_id) {
            whichEl = eval("submenu" + sid);
            if (whichEl.style.display == "none") {
                eval("submenu" + sid + ".style.display=\"\";");
                eval("this.menuTitle" + sid + ".className=\"menu_show1\";");
            }
            else {
                eval("submenu" + sid + ".style.display=\"none\";");
                eval("this.menuTitle" + sid + ".className=\"menu_hide1\";");
            }

        }

    </script>
</head>
<body>
    <form id="form1">
        <div>@{Html.RenderAction("LeftFrame");} </div>
        <div style="padding-left: 2px;">  
            <table cellspacing="0" cellpadding="0" width="140"> 
                <tr>
                    <td class="auto-style1" id="menuTitle6" onclick="showsubmenu(6,'05')">随访与体检 </td>
                </tr>
                <tr>
                    <td id="submenu6" class="auto-style2">
                        <div class="sec_menu1" style="width: 142px">
                            <table cellspacing="0" cellpadding="0" width="140">
                                <tr>
                                    <td style="height: 20px;"><span style="color: #84bf92">&middot;</span><a href="/BreastCancer/BC_FollowupAndExamination_SFJL/Frame" target="MainFrame">随访记录 </a></td>
                                </tr>
                                <tr>
                                    <td style="height: 20px;"><span style="color: #84bf92">&middot;</span><a href="/BreastCancer/BC_FollowupAndExamination_BloodPressure/Frame" target="MainFrame">血压监测 </a></td>
                                </tr>
                                <tr>
                                    <td style="height: 20px;"><span style="color: #84bf92">&middot;</span><a href="/BreastCancer/BC_FollowupAndExamination_BloodGlucose/Frame" target="MainFrame">血糖监测 </a></td>
                                <tr>
                                    <td style="height: 20px;"><span style="color: #84bf92">&middot;</span><a href="/BreastCancer/BC_FollowupAndExamination_Constitution/Frame" target="MainFrame">体质监测 </a></td>
                                </tr> 
                                <tr>
                                    <td style="height: 20px;"><span style="color: #84bf92">&middot;</span><a href="/BreastCancer/BC_FollowupAndExamination_PE/Frame" target="MainFrame">健康体检专用表 </a></td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="auto-style1" id="menuTitle10" onclick="showsubmenu(10,'05')">乳腺癌筛查与诊断</td>
                </tr>
                <tr>
                    <td id="submenu10" class="auto-style2">
                        <div class="sec_menu1" style="width: 142px">
                            <table cellspacing="0" cellpadding="0" width="140">
                                <tr>
                                    <td style="height: 20px;"><span style="color: #84bf92">&middot;</span><a href="/BreastCancer/BC_ScreeningAndDiagnosis_SelfCheck/Frame" target="MainFrame">自我检查</a></td>
                                </tr>
                                <tr>
                                    <td style="height: 20px;"><span style="color: #84bf92">&middot;</span><a href="/BreastCancer/BC_ScreeningAndDiagnosis_ClinicalExamination/Frame" target="MainFrame">临床检查</a></td>
                                </tr>
                                <tr>
                                    <td style="height: 20px;"><span style="color: #84bf92">&middot;</span><a href="/BreastCancer/BC_ScreeningAndDiagnosis_Mammography/Frame" target="MainFrame">钼靶摄片</a></td>
                                </tr>
                                <tr>
                                    <td style="height: 20px;"><span style="color: #84bf92">&middot;</span><a href="/BreastCancer/SelfCheck/Frame" target="MainFrame">X线检查</a></td>
                                </tr>
                                <tr>
                                    <td style="height: 20px;"><span style="color: #84bf92">&middot;</span><a href="/BreastCancer/SelfCheck/Frame" target="MainFrame">超声检查</a></td>
                                </tr>
                                <tr>
                                    <td style="height: 20px;"><span style="color: #84bf92">&middot;</span><a href="/BreastCancer/SelfCheck/Frame" target="MainFrame">MRI检查</a></td>
                                </tr>
                                <tr>
                                    <td style="height: 20px;"><span style="color: #84bf92">&middot;</span><a href="/BreastCancer/SelfCheck/Frame" target="MainFrame">CT检查</a></td>
                                </tr>
                                <tr>
                                    <td style="height: 20px;"><span style="color: #84bf92">&middot;</span><a href="/BreastCancer/SelfCheck/Frame" target="MainFrame">穿刺活检</a></td>
                                </tr>
                                <tr>
                                    <td style="height: 20px;"><span style="color: #84bf92">&middot;</span><a href="/BreastCancer/SelfCheck/Frame" target="MainFrame">乳头溢液诊断</a></td>
                                </tr>
                                <tr>
                                    <td style="height: 20px;"><span style="color: #84bf92">&middot;</span><a href="/BreastCancer/SelfCheck/Frame" target="MainFrame">核医学技术</a></td>
                                </tr> 
                            </table>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="auto-style1" id="menuTitle11" onclick="showsubmenu(11,'05')">乳腺癌治疗</td>
                </tr>
                <tr>
                    <td id="submenu11" class="auto-style2">
                        <div class="sec_menu1" style="width: 142px">
                            <table cellspacing="0" cellpadding="0" width="140">
                                <tr>
                                    <td style="height: 20px;"><span style="color: #84bf92">&middot;</span><a href="/BreastCancer/SelfCheck/Frame" target="MainFrame">外科治疗</a></td>
                                </tr>
                                <tr>
                                    <td style="height: 20px;"><span style="color: #84bf92">&middot;</span><a href="/BreastCancer/SelfCheck/Frame" target="MainFrame">术后修复与再造</a></td>
                                </tr>
                                <tr>
                                    <td style="height: 20px;"><span style="color: #84bf92">&middot;</span><a href="/BreastCancer/SelfCheck/Frame" target="MainFrame">放射治疗</a></td>
                                </tr>
                                <tr> <td style="height: 20px;"><span style="color: #84bf92">&middot;</span><a href="/BreastCancer/SelfCheck/Frame" target="MainFrame">化学治疗</a></td></tr>
                                <tr> <td style="height: 20px;"><span style="color: #84bf92">&middot;</span><a href="/BreastCancer/SelfCheck/Frame" target="MainFrame">内分泌治疗</a></td></tr>
                                <tr> <td style="height: 20px;"><span style="color: #84bf92">&middot;</span><a href="/BreastCancer/SelfCheck/Frame" target="MainFrame">双膦酸盐治疗</a></td></tr>
                                <tr> <td style="height: 20px;"><span style="color: #84bf92">&middot;</span><a href="/BreastCancer/SelfCheck/Frame" target="MainFrame">分子靶向治疗</a></td></tr>
                                <tr> <td style="height: 20px;"><span style="color: #84bf92">&middot;</span><a href="/BreastCancer/SelfCheck/Frame" target="MainFrame">中医药治疗</a></td></tr>
                            </table>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="auto-style1" id="menuTitle7" onclick="showsubmenu(7,'05')">基因与蛋白质组学</td>
                </tr>
                <tr>
                    <td id="submenu7" class="auto-style2">
                        <div class="sec_menu1" style="width: 142px">
                            <table cellspacing="0" cellpadding="0" width="140">

                                <tr>
                                    <td style="height: 20px;"><span style="color: #84bf92">&middot;</span><a href="/BreastCancer/SelfCheck/Frame" target="MainFrame">21基因检测法</a></td>
                                </tr>
                                <tr>
                                    <td style="height: 20px;"><span style="color: #84bf92">&middot;</span><a href="/BreastCancer/SelfCheck/Frame" target="MainFrame">70基因检测法</a></td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="auto-style1" id="menuTitle12" onclick="showsubmenu(12,'05')">循证医学的应用</td>
                </tr>
                <tr>
                    <td class="auto-style1" id="menuTitle13" onclick="showsubmenu(13,'05')">术后护理与康复</td>
                </tr>
                <tr>
                    <td class="auto-style1" id="menuTitle14" onclick="showsubmenu(14,'05')">健康素养</td>
                </tr>
                <tr>
                    <td id="submenu14" class="auto-style2">
                        <div class="sec_menu1" style="width: 142px">
                            <table cellspacing="0" cellpadding="0" width="140">
                                <tr><td style="height: 20px;"><span style="color: #84bf92">&middot;</span><a href="/BreastCancer/SelfCheck/Frame" target="MainFrame">乳腺癌知识与测试</a></td></tr>
                                <tr><td style="height: 20px;"><span style="color: #84bf92">&middot;</span><a href="/BreastCancer/SelfCheck/Frame" target="MainFrame">焦虑自评量表</a></td></tr>
                                <tr><td style="height: 20px;"><span style="color: #84bf92">&middot;</span><a href="/BreastCancer/SelfCheck/Frame" target="MainFrame">抑郁自评量表</a></td></tr>
                            </table>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </form>
</body>
</html>
