@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>密码修改</title>
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script src="~/Scripts/MyJs/global.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <link href="~/Content/MyCss/global.css" rel="stylesheet" />
    <style type="text/css">
        .error {
            color: red;
        }
    </style>
    <script type="text/javascript">
        $(function () {
            $("#form1").validate({
                rules: {
                    //txtName: "required",
                    //txtMail: {
                    //    required: true,
                    //    email:true
                    //},
                    txtPwd: {
                        required: true,
                        minlength: 6
                    },
                    txtConfirmPwd: {
                        required: true,
                        minlength: 6,
                        equalTo: "#txtPwd"
                    }
                },
                messages: {
                    //txtName: "请输入用户名",
                    //txtMail: {
                    //    required:"请输入Email地址",
                    //    email: "请输入正确的Email地址"
                    //},
                    txtPwd: {
                        required: "请输入密码",
                        minlength: jQuery.format("密码长度不能小于{0}个字符")
                    },
                    txtConfirmPwd: {
                        required: "请输入确认密码",
                        minlength: "确认密码长度不能小于6个字符",
                        equalTo: "两次输入密码不一致"
                    }
                }
            });
        })

        function afterModify(data) {
            if (data == "0") {
                alert("密码修改成功，请重新登录");
                window.close();
                window.opener.location = '/Home/Index';
            } else if (data == "1") {
                alert("密码修改失败");
            } else {
                alert("两次输入密码不一致");
            }
        }
    </script>
</head>
<body>
    @using (Ajax.BeginForm("ModifyPassword", "Frame", new { }, new AjaxOptions() { HttpMethod = "post", OnSuccess = "afterModify" }, new { id = "form1" }))
    {
        <div style="text-align: center">
            <table border="0" style="border-collapse: collapse;width:100%;" class="detailTable">
                <tr>
                    <td style="height:25px;text-align:center;" colspan="2" class="detailHead">登录密码修改</td>
                </tr>

                <tr>
                    <td class="detailTitle" style="width: 30%;">输入新密码</td>
                    <td class="detailContent">
                        @Html.Password("txtPwd", "", new { style = "width:150px;height:20px;text-align:left;" })

                    </td>
                </tr>
                <tr>
                    <td class="detailTitle" style="width: 30%;">确认新密码</td>
                    <td class="detailContent">
                        @Html.Password("txtConfirmPwd", "", new { style = "width:150px;height:20px;text-align:left;" })
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="height:25px;">
                        <div style="text-align:center">
                            <input type="submit" name="ModifyPassword" id="ModifyPassword" value="提交" class="button" />
                            <input type="button" value="重置" class="button" onclick="form1.reset();" />

                        </div>
                    </td>
                </tr>
            </table>

        </div>

    }
</body>
</html>
